[submodule "backend"]
	path = lifefence-backend
	url = https://github.com/KreativeThinker/lifefence-backend
	branch = main
[submodule "frontend"]
	path = lifefence-frontend
	url = https://github.com/KreativeThinker/lifefence-frontend
	branch = main
