[submodule "lifefence-frontend"]
	path = lifefence-frontend
	url = https://github.com/KreativeThinker/lifefence-frontend
  branch = main
[submodule "lifefence-backend"]
	path = lifefence-backend
	url = https://github.com/KreativeThinker/lifefence-backend
  branch = main
